*
  margin: 0
  padding: 0
@import navigation
@import container
@import work
@import about
@import contact
@import jumbotron.sass

body
  background: linear-gradient(to right, #222 , #343434)
  font-size: 1.5em
  font-family: Roboto-Thin
  h1,h2
    font-family: BebasNeue-Regular
main
  overflow: hidden
  animation-name: reveal
  animation-duration: 5s
  animation-fill-mode: forwards
  transition: all 5s

@keyframes reveal
  0%
    opacity: 0
  80%
    opacity: 0
  100%
    opacity: 1
@font-face
  font-family:  'BabasNeue'
  src: url('fonts/BebasNeue-Regular.otf') format('opentype')
  font-family:  'Roboto'
  src: url('fonts/Roboto-Medium.ttf') format("typeface"),
  url(' fonts/Roboto-Thin.ttf'),
  url(' fonts/Roboto-Black.ttf'),
  url(' fonts/Roboto-Thinitalic.ttf'),
  url(' fonts/Roboto-Blackitalic.ttf')
